<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="D:\Projects\CRM\CRM.Presentation\CRM.WebApp\Trace\Trace.txt" header="----------------------------------------" footer="----------------------------------------" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="DAL Exception Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="General" eventId="100" severity="Error" title="CRM Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" priority="0" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="CRM" />
  <connectionStrings>
    <add name="CRM" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRMConnectionString" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRMConnectionString1" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString1" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;Persist Security Info=True;Password=ai@2013;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString2" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString3" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString4" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;Persist Security Info=True;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString5" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString6" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString7" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString8" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString10" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString11" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString12" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString13" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString9" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString14" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString15" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString16" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="FULL_CRM_ASHISHConnectionString17" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="saConnectionString" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString1" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=SA;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString2" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString3" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString4" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=SA"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString5" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString6" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;Persist Security Info=True;User ID=SA;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="TRAVELZConnectionString7" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=THAILAND_CRM;User ID=sa;Password=ai@2013"
      providerName="System.Data.SqlClient" />
    <add name="THAILAND_CRMConnectionString7" connectionString="Data Source=SERVERAI;Initial Catalog=THAILAND_CRM;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TRAVELZConnectionString1" connectionString="Data Source=WIN-9XIKFMJP2A9;Initial Catalog=TRAVELZ;User ID=SA"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />

    <add key="ChartImageHandler" value="storage=file;timeout=90;Url=~/tempImages/;" />
    <add key="CustUniqueIdInitial" value="F/" />
    <add key="GridPageSize" value="10" />
    <add key="ComboBoxItemCount" value="5" />
    <add key="ComboBoxHeight" value="115px" />
    <add key="TextBoxWidth" value="154px" />
    <add key="DropdownWidth" value="160px" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="SmtpUserName" value="kushal@flamingotravels.co.in" />
    <add key="SmtpPassword" value="dadashri" />
    <add key="SmtpHost" value="smtpcorp.com" />
    <add key="SmtpPort" value="587" />
    <add key="FromAddress" value="sudhir@THAILAND_CRMunlimited.com" />
    <add key="FromDisplayName" value="THAILAND_CRM Unlimited" />
    <add key="PageTitle" value="THAILAND_CRM Unlimited" />
    <add key="SaveRecord" value="Record(s) saved successfully." />
    <add key="UpdateRecord" value="Record(s) updated successfully." />
    <add key="DeleteRecord" value="Record(s) deleted successfully." />
    <add key="CopyRecord" value="Record(s) copied successfully." />
    <add key="SaveBackup" value="Backup saved successfully." />
    <add key="SendMessage" value="sms send successfully." />
    <add key="UnableSendMessage" value="sms send failed." />
    <add key="UnableSaveRecord" value="Record not saved." />
    <add key="UnableUpdateRecord" value="Record not updated." />
    <add key="UnableDeleteRecord" value="Unable to delete master record(s), child record(s) exists." />
    <add key="UnableCopyRecord" value="Record not copied." />
    <add key="UnableSaveBackup" value="Error occured in backup process. Try again." />
    <add key="ExistRecord" value="Record already exists." />
    <add key="NoRecord" value="No record(s) found." />
    <add key="AtleastOneRecord" value="Select atleast one record." />
    <add key="OnlyOneRecord" value="Select only one record." />
    <add key="DeleteAlert" value="Are you sure to delete record(s)?" />
    <add key="EmailMassege" value="A new password has been sent to your registered email account." />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="DBServer" value="AS-PC\SQL192.168.1.62008" />
    <add key="DBName" value="NEW_CRM" />
    <add key="DBUserName" value="sa" />
    <add key="DBUserPass" value="sqlserver2005" />
    <!--<add key="SMSGatewayUsername" value="bhavinvora" />
    <add key="SMSGatewayPasswprd" value="734247" />
    <add key="SMSGatewayDomain" value="www.alertbox.in" />
    <add key="SMSGatewaySednerId" value="Flamingo" />-->
    <!--<add key="SMSGatewayUsername" value="flamingo"/>
		<add key="SMSGatewayPasswprd" value="flamingoahm"/>
		<add key="SMSGatewayDomain" value="www.pinnacleteleservices.com"/>
		<add key="SMSGatewaySednerId" value="FLAMINGO"/>-->
    <add key="SMSGatewayDomain" value="203.129.203.243/blank/sms/user/urlsms.php" />
    <add key="SMSGatewayUsername" value="flamingo1" />
    <add key="SMSGatewayPasswprd" value="kushal1" />
    <add key="SMSGatewaySednerId" value="flamngo" />
    <add key="NewCustomerNotification" value="SMS" />
    <add key="ReportServer" value="http://WIN-9XIKFMJP2A9/ReportServer"/>
    <!--<add key="ReportServerUsername" value="WIN-9XIKFMJP2A9" />-->
    <add key="ReportServerUsername" value="Administrator" />
    <!--<add key="ReportServerPassword" value="ganesh@123" />-->
    <add key="ReportServerPassword" value="Niruma@123" />
    <add key="ReportServerDomain" value="WIN-9XIKFMJP2A9" />
  </appSettings>
  <location path="Views/Shared/Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Views/Common/StyleSheet">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="NewAgentRegistrationForm.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ThankYou.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webservice/smsmorning.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Captcha/captcha.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webservice/smsevening.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>






  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="90" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" slidingExpiration="true" name="CRMLogin" cookieless="UseCookies" path="/" defaultUrl="Login.aspx" >
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/ExceptionHandler.aspx">
      <error statusCode="404" redirect="~/FileNotFound.aspx" />
    </customErrors>
    <pages enableViewState="true" enableEventValidation="false" styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="Telerik.Web.UI, Version=2009.3.1103.35, Culture=neutral, PublicKeyToken=121FAE78165BA3D4" />-->
        <!--  Here got the error-->
        <!--<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".skin" type="Telerik.Web.UI" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <membership defaultProvider="MyProvider" userIsOnlineTimeWindow="25">
      <providers>
        <add name="MyProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="CRM" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <httpHandlers>

      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" />
      <add verb="*" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />


      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI, Version=2008.2.826.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
        validate="false" />
      <!--<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.3.1103.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4"
        validate="false" />-->
      <add path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler"
        validate="false" />
      <!--<add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI"
        validate="false" />-->
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler"
        validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <!--<httpModules>
      <add name="OnlineActiveUsers"
           type="OnlineActiveUsers.OnlineUsersModule"/>
    </httpModules>-->
    <httpRuntime maxRequestLength="102400" />




  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>


  </system.webServer>



</configuration>