div.RadPanelBar_Marun .rpRootGroup
{
	border: 0;
	/*background-color: #efefef;*/
}

.RadPanelBar_Marun .rpLink,
.RadPanelBar_Marun .rpTemplate
{
	color: #000;
	font: bold 12px/24px Arial, Helvetica, sans-serif;
}

* + html div.RadPanelBar_Marun .rpItem
{
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

* html div.RadPanelBar_Marun .rpItem
{
	display: inline-block;
	font-size: 0;
	line-height: 0;
}

div.RadPanelBar_Marun .rpLast
{
	border-width: 1px 0;
}

div.RadPanelBar_Marun .rpLink,
div.RadPanelBar_Marun .rpGroup .rpLink
{
	border: 0;
	padding: 1px;
}

div.RadPanelBar_Marun .rpLink .rpOut,
div.RadPanelBar_Marun .rpGroup .rpLink .rpOut
{
/*	margin: 1px 0 0 1px;*/
	padding-bottom: 1px;
	border-bottom: 0;
}

/*div.RadPanelBar_Marun_rtl .rpLink .rpOut,
div.RadPanelBar_Marun_rtl .rpGroup .rpLink .rpOut
{
	margin: 1px 1px 0 0;
}*/

div.RadPanelBar_Marun .rpGroup .rpLink .rpOut
{
	padding-bottom: 0;
}

/* compensate for borders */

div.RadPanelBar_Marun .rpLink:hover,
div.RadPanelBar_Marun .rpGroup .rpLink:hover
{
	padding: 0;
	border: 1px solid #d6d6d6;
	background: transparent url('PanelBar/RootItemBg.png') no-repeat 0 0;
}

div.RadPanelBar_Marun .rpRootGroup .rpFocused,
div.RadPanelBar_Marun .rpRootGroup .rpFocused:hover,
div.RadPanelBar_Marun .rpRootGroup .rpSelected,
div.RadPanelBar_Marun .rpRootGroup .rpSelected:hover
{
	border: 0;
	padding: 1px;
	background-color: #A4A2A3;
	background-image: none;
	color: #fff;
}

/* <disabled items> */
div.RadPanelBar_Marun .rpDisabled,
div.RadPanelBar_Marun .rpDisabled:hover
{
	color: #bbb;
	cursor: default;
	background-image: none;
	border: 0;
	padding: 1px;
}

div.RadPanelBar_Marun .rpDisabled .rpOut,
div.RadPanelBar_Marun .rpDisabled:hover .rpOut
{
	padding-bottom: 1px;
	border: 0;
}

/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_Marun .rpExpandable .rpOut,
.RadPanelBar_Marun .rpExpanded .rpOut
{
	background-color: #696969;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
	color:#fff;
}

.RadPanelBar_Marun_rtl .rpExpandable .rpOut,
.RadPanelBar_Marun_rtl .rpExpanded .rpOut
{
	background-image: url('PanelBar/ExpandableRTL.png');
}
/* </expand arrows> */

/* <subitems> */

div.RadPanelBar_Marun .rpGroup .rpLink,
div.RadPanelBar_Marun .rpGroup .rpTemplate
{
	background-image: none;
	font-weight: normal;
}

/* <subitems (disabled)> */
div.RadPanelBar_Marun .rpGroup .rpDisabled,
div.RadPanelBar_Marun .rpGroup .rpDisabled:hover
{
	background-image: none;
	color: #bbb;
	border: 0;
	padding: 1px;
}
/* </subitems (disabled)> */

/* <subitems> */

/*      <expand arrows> */
.RadPanelBar_Marun .rpRootGroup .rpOut
{ 
	padding-left: 15px;
}

div.RadPanelBar_Marun .rpLevel2 .rpTemplate,
div.RadPanelBar_Marun .rpLevel2 .rpOut,
div.RadPanelBar_Marun .rpLevel3 .rpTemplate,
div.RadPanelBar_Marun .rpLevel3 .rpOut
{
	padding-left: 15px;
}

.RadPanelBar_Marun .rpSlide
{
	padding-left: 10px;
}

.RadPanelBar_Marun_rtl .rpRootGroup .rpOut
{ 
	padding-left: auto;
	padding-right: 15px;
}

div.RadPanelBar_Marun_rtl .rpLevel2 .rpTemplate,
div.RadPanelBar_Marun_rtl .rpLevel2 .rpOut,
div.RadPanelBar_Marun_rtl .rpLevel3 .rpTemplate,
div.RadPanelBar_Marun_rtl .rpLevel3 .rpOut
{
	padding-left: auto;
	padding-right: 15px;
}

.RadPanelBar_Marun_rtl .rpSlide
{
	padding-left: auto;
	padding-right: 10px;
}

div.RadPanelBar_Marun .rpText {
	padding: 0 5px;
}

.RadPanelBar_Marun .rpExpandable .rpOut { background-position: 0 0; }
.RadPanelBar_Marun .rpExpanded .rpOut { background-position: 0 -176px; }
.RadPanelBar_Marun_rtl .rpExpandable .rpOut { background-position: 100% 0; }
.RadPanelBar_Marun_rtl .rpExpanded .rpOut { background-position: 100% -176px; }

.RadPanelBar_Marun .rpGroup .rpExpandable .rpOut { background-position: 0 -338px; }
.RadPanelBar_Marun .rpGroup .rpExpanded .rpOut { background-position: 0 -477px; }
.RadPanelBar_Marun_rtl .rpGroup .rpExpandable .rpOut { background-position: 100% -338px; }
.RadPanelBar_Marun_rtl .rpGroup .rpExpanded .rpOut { background-position: 100% -477px; }

/*      </expand arrows> */

/* </background positioning> */