.RadTabStrip_DarkOrange
{
	border-bottom:3px solid #666666;
}

.RadTabStrip_DarkOrange .rtsLI,
.RadTabStrip_DarkOrange .rtsLink
{
	color: #000;
	font: 12px/26px Arial, sans-serif;
	border-right:3px solid #ffffff;
	
}

.RadTabStrip_DarkOrange .rtsLink:hover
{
	
}

.RadTabStrip_DarkOrange .rtsSelected
{
	color: #ffffff;
}

.RadTabStripLeft_DarkOrange .rtsSeparator,
.RadTabStripRight_DarkOrange .rtsSeparator
{
	background: #003C74;
}

/* <disabled tabs> */
.RadTabStrip_DarkOrange .rtsLevel .rtsDisabled,
.RadTabStrip_DarkOrange .rtsLevel .rtsDisabled:hover
{
	color: #aaa;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_DarkOrange .rtsNextArrow,
.RadTabStrip_DarkOrange .rtsPrevArrow,
.RadTabStrip_DarkOrange .rtsPrevArrowDisabled,
.RadTabStrip_DarkOrange .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStripTop_DarkOrange .rtsLevel { background-color: transparent; }

.RadTabStripTop_DarkOrange .rtsLevel .rtsLink,
.RadTabStripTop_DarkOrange .rtsLevel .rtsOut,
.RadTabStripBottom_DarkOrange .rtsLevel .rtsLink,
.RadTabStripBottom_DarkOrange .rtsLevel .rtsOut,
.RadTabStripTop_DarkOrange_Baseline .rtsLevel,
.RadTabStripBottom_DarkOrange_Baseline .rtsLevel { background-image: url('TabStrip/TabStripStates.png'); }

.RadTabStripLeft_DarkOrange .rtsLink,
.RadTabStripRight_DarkOrange .rtsLink { background-image: url('TabStrip/TabStripVStates.png'); }

.RadTabStripLeft_DarkOrange .rtsLast .rtsLink,
.RadTabStripRight_DarkOrange .rtsLast .rtsLink
{
	border-bottom: 1px solid #003c74;
}

.RadTabStripRight_DarkOrange .rtsLink,
.RadTabStripRight_DarkOrange .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_DarkOrange .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_DarkOrange .rtsSelected,
.RadTabStripRight_DarkOrange .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_DarkOrange .rtsLink { background-position: 0 0; }
.RadTabStripTop_DarkOrange .rtsOut { background-position: 100% 0; }

.RadTabStripTop_DarkOrange .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_DarkOrange .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_DarkOrange .rtsSelected,
.RadTabStripTop_DarkOrange .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_DarkOrange .rtsSelected .rtsOut,
.RadTabStripTop_DarkOrange .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_DarkOrange .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_DarkOrange .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_DarkOrange_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_DarkOrange .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_DarkOrange .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_DarkOrange .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_DarkOrange .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_DarkOrange .rtsSelected,
.RadTabStripBottom_DarkOrange .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_DarkOrange .rtsSelected .rtsOut,
.RadTabStripBottom_DarkOrange .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_DarkOrange .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_DarkOrange .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_DarkOrange_Baseline .rtsLevel { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_DarkOrange .rtsUL .rtsLink,
.RadTabStripRight_DarkOrange .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_DarkOrange .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_DarkOrange .rtsUL .rtsSelected,
.RadTabStripRight_DarkOrange .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */

/* <simplistic sub-item styles> */

.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel2,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel3,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel4 { background: #fff; }

.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel2 .rtsSelected,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel3 .rtsSelected,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel4 .rtsSelected
{
	text-decoration: underline;
}

.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel2 .rtsOut,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel2 .rtsIn,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel3 .rtsOut,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel3 .rtsIn,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel4 .rtsLink,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel4 .rtsOut,
.RadTabStrip_DarkOrange_SimpleSubItems .rtsLevel4 .rtsIn
{
	background: none;
}

/* </simplistic sub-item styles> */