.panelitemselected
{
	border: 0;
	padding: 1px;
	background-color: #A4A2A3;
	background-image: none;
	color: #fff;
}


.button
{
	background:url(Images/button_bg.jpg) repeat-x;
	border-bottom:1px solid #BBBBBB;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	height:22px;
	vertical-align:middle;
	text-align:center;
}
 
.lnk
{
    font-family:Arial;
    font-size:12px;
    color:Black;
    text-decoration:underline;
} 

.lnk:hover
{
    font-family:Arial;
    font-size:12px;
    color:Maroon;
    text-decoration:underline;
} 

.topmenu
{
    background:url(Images/Background/topmenubar_background.png) repeat-x;
    height:39px;
}


/*ASP.MENU */

.topmenulink
{
	/*padding-top: 5px;*/
	border-left: 1px solid #ffffff;
	height: 31px;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
}

.topmenulinkhover, .topmenulinkhover:active, .topmenulinkhover:visited
{
	background:url(Images/Background/topmenubar_background_visit.png) repeat-x bottom;
	padding:6px 8px 9px 8px;
}

.topmenulinkvisited
{
    background-image: url(Images/Background/topmenubar_background_visit.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 31px;
    vertical-align: bottom;
}

.topmenulink a
{
	font-family: Arial;
	font-size: 13px;
	color: White;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding:6px 8px 9px 8px;
}


.topmenulink a:hover
{	
	background:url(Images/Background/topmenubar_background_visit.png) repeat-x bottom;
	padding:6px 8px 9px 8px;
}

.topmenulinkactive, .topmenulinkactive a
{
	background:url(Images/Background/topmenubar_background_visit.png) repeat-x;
	background-position: bottom;
}
/*ASP.MENU COMPLETE*/




